In [106]:
import pandas as pd
from sqlalchemy import create_engine

In [107]:
#1.Load Data
df=pd. read_csv("Amazon Customer Behavior Survey.csv")

In [108]:
#2.To understand structure,data types,missing values
df.head()

,Timestamp,age,Gender,Purchase_Frequency,Purchase_Categories,Personalized_Recommendation_Frequency,Browsing_Frequency,Product_Search_Method,Search_Result_Exploration,Customer_Reviews_Importance,...,Saveforlater_Frequency,Review_Left,Review_Reliability,Review_Helpfulness,Personalized_Recommendation_Frequency,Recommendation_Helpfulness,Rating_Accuracy,Shopping_Satisfaction,Service_Appreciation,Improvement_Areas
0,2023/06/04 1:28:19 PM GMT+5:30,23,Female,Few times a month,Beauty and Personal Care,Yes,Few times a week,Keyword,Multiple pages,1,...,Sometimes,Yes,Occasionally,Yes,2,Yes,1,1,Competitive prices,Reducing packaging waste
1,2023/06/04 2:30:44 PM GMT+5:30,23,Female,Once a month,Clothing and Fashion,Yes,Few times a month,Keyword,Multiple pages,1,...,Rarely,No,Heavily,Yes,2,Sometimes,3,2,Wide product selection,Reducing packaging waste
2,2023/06/04 5:04:56 PM GMT+5:30,24,Prefer not to say,Few times a month,Groceries and Gourmet Food;Clothing and Fashion,No,Few times a month,Keyword,Multiple pages,2,...,Rarely,No,Occasionally,No,4,No,3,3,Competitive prices,Product quality and accuracy
3,2023/06/04 5:13:00 PM GMT+5:30,24,Female,Once a month,Beauty and Personal Care;Clothing and Fashion;...,Sometimes,Few times a month,Keyword,First page,5,...,Sometimes,Yes,Heavily,Yes,3,Sometimes,3,4,Competitive prices,Product quality and accuracy
4,2023/06/04 5:28:06 PM GMT+5:30,22,Female,Less than once a month,Beauty and Personal Care;Clothing and Fashion,Yes,Few times a month,Filter,Multiple pages,1,...,Rarely,No,Heavily,Yes,4,Yes,2,2,Competitive prices,Product quality and accuracy

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 23 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Timestamp                               602 non-null    object
 1   age                                     602 non-null    int64
 2   Gender                                  602 non-null    object
 3   Purchase_Frequency                      602 non-null    object
 4   Purchase_Categories                     602 non-null    object
 5   Personalized_Recommendation_Frequency   602 non-null    object
 6   Browsing_Frequency                      602 non-null    object
 7   Product_Search_Method                   600 non-null    object
 8   Search_Result_Exploration               602 non-null    object
 9   Customer_Reviews_Importance             602 non-null    int64
 10  Add_to_Cart_Browsing                    602 non-null    object
 11  Cart_Completion_Frequency               602 non-null    object
 12  Cart_Abandonment_Factors                602 non-null    object
 13  Saveforlater_Frequency                  602 non-null    object
 14  Review_Left                             602 non-null    object
 15  Review_Reliability                      602 non-null    object
 16  Review_Helpfulness                      602 non-null    object
 17  Personalized_Recommendation_Frequency   602 non-null    int64
 18  Recommendation_Helpfulness              602 non-null    object
 19  Rating_Accuracy                         602 non-null    int64
 20  Shopping_Satisfaction                   602 non-null    int64
 21  Service_Appreciation                    602 non-null    object
 22  Improvement_Areas                       602 non-null    object
dtypes: int64(5), object(18)
memory usage: 108.3+ KB

In [110]:
df.describe()

,age,Customer_Reviews_Importance,Personalized_Recommendation_Frequency,Rating_Accuracy,Shopping_Satisfaction
count,602.000000,602.000000,602.000000,602.000000,602.000000
mean,30.790698,2.480066,2.699336,2.672757,2.463455
std,10.193276,1.185226,1.042028,0.899744,1.012152
min,3.000000,1.000000,1.000000,1.000000,1.000000
25%,23.000000,1.000000,2.000000,2.000000,2.000000
50%,26.000000,3.000000,3.000000,3.000000,2.000000
75%,36.000000,3.000000,3.000000,3.000000,3.000000
max,67.000000,5.000000,5.000000,5.000000,5.000000

In [111]:
df.describe(include = "all")

,Timestamp,age,Gender,Purchase_Frequency,Purchase_Categories,Personalized_Recommendation_Frequency,Browsing_Frequency,Product_Search_Method,Search_Result_Exploration,Customer_Reviews_Importance,...,Saveforlater_Frequency,Review_Left,Review_Reliability,Review_Helpfulness,Personalized_Recommendation_Frequency,Recommendation_Helpfulness,Rating_Accuracy,Shopping_Satisfaction,Service_Appreciation,Improvement_Areas
count,602,602.000000,602,602,602,602,602,600,602,602.000000,...,602,602,602,602,602.000000,602,602.000000,602.000000,602,602
unique,601,NaN,4,5,29,3,4,4,2,NaN,...,5,2,5,3,NaN,3,NaN,NaN,9,18
top,2023/06/07 11:47:44 AM GMT+5:30,NaN,Female,Few times a month,Beauty and Personal Care,No,Few times a week,categories,Multiple pages,NaN,...,Sometimes,Yes,Moderately,Yes,NaN,Sometimes,NaN,NaN,Product recommendations,Customer service responsiveness
freq,2,NaN,352,203,106,251,249,223,442,NaN,...,251,310,199,237,NaN,273,NaN,NaN,185,217
mean,NaN,30.790698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.480066,...,NaN,NaN,NaN,NaN,2.699336,NaN,2.672757,2.463455,NaN,NaN
std,NaN,10.193276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.185226,...,NaN,NaN,NaN,NaN,1.042028,NaN,0.899744,1.012152,NaN,NaN
min,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000,1.000000,NaN,NaN
25%,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,2.000000,NaN,NaN
50%,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,...,NaN,NaN,NaN,NaN,3.000000,NaN,3.000000,2.000000,NaN,NaN
75%,NaN,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,...,NaN,NaN,NaN,NaN,3.000000,NaN,3.000000,3.000000,NaN,NaN
max,NaN,67.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,...,NaN,NaN,NaN,NaN,5.000000,NaN,5.000000,5.000000,NaN,NaN

In [112]:
#3.Check missing Values
df.isnull().sum()

Timestamp                                 0
age                                       0
Gender                                    0
Purchase_Frequency                        0
Purchase_Categories                       0
Personalized_Recommendation_Frequency     0
Browsing_Frequency                        0
Product_Search_Method                     2
Search_Result_Exploration                 0
Customer_Reviews_Importance               0
Add_to_Cart_Browsing                      0
Cart_Completion_Frequency                 0
Cart_Abandonment_Factors                  0
Saveforlater_Frequency                    0
Review_Left                               0
Review_Reliability                        0
Review_Helpfulness                        0
Personalized_Recommendation_Frequency     0
Recommendation_Helpfulness                0
Rating_Accuracy                           0
Shopping_Satisfaction                     0
Service_Appreciation                      0
Improvement_Areas                         0
dtype: int64

In [113]:
#4.fill missing value using Group logic
df['Product_Search_Method'] =(
    df.groupby('Purchase_Categories')['Product_Search_Method']
    .transform(lambda x:x.fillna(x.mode().iloc[0])
               if not x.mode().empty else x)
)

In [114]:
#5.Clean column names
df.columns = df.columns.str.strip()
df.columns = df. columns.str.replace(" ","_")
df.columns = df. columns.str.replace("__+","_",regex =True)
df.columns

Index(['Timestamp', 'age', 'Gender', 'Purchase_Frequency',
       'Purchase_Categories', 'Personalized_Recommendation_Frequency',
       'Browsing_Frequency', 'Product_Search_Method',
       'Search_Result_Exploration', 'Customer_Reviews_Importance',
       'Add_to_Cart_Browsing', 'Cart_Completion_Frequency',
       'Cart_Abandonment_Factors', 'Saveforlater_Frequency', 'Review_Left',
       'Review_Reliability', 'Review_Helpfulness',
       'Personalized_Recommendation_Frequency', 'Recommendation_Helpfulness',
       'Rating_Accuracy', 'Shopping_Satisfaction', 'Service_Appreciation',
       'Improvement_Areas'],
      dtype='object')

In [115]:
#6.Rename specific columns
df= df.rename(columns={
    'age':'Age',
    'Add_to_Cart_Browsing':'Add_To_Cart_Browsing' 
})

In [116]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Purchase_Frequency',
       'Purchase_Categories', 'Personalized_Recommendation_Frequency',
       'Browsing_Frequency', 'Product_Search_Method',
       'Search_Result_Exploration', 'Customer_Reviews_Importance',
       'Add_To_Cart_Browsing', 'Cart_Completion_Frequency',
       'Cart_Abandonment_Factors', 'Saveforlater_Frequency', 'Review_Left',
       'Review_Reliability', 'Review_Helpfulness',
       'Personalized_Recommendation_Frequency', 'Recommendation_Helpfulness',
       'Rating_Accuracy', 'Shopping_Satisfaction', 'Service_Appreciation',
       'Improvement_Areas'],
      dtype='object')

In [117]:
#7.Handles duplicate columns name
cols=df.columns.tolist()
indexes = [
    i for i , c in enumerate(cols)
    if c == 'Personalized_Recommendation_Frequency'
]
if len(indexes)>1:
    cols[indexes[1]]='Personalized_Recommendation_Frequency_Alt'
df.columns =cols
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Purchase_Frequency',
       'Purchase_Categories', 'Personalized_Recommendation_Frequency',
       'Browsing_Frequency', 'Product_Search_Method',
       'Search_Result_Exploration', 'Customer_Reviews_Importance',
       'Add_To_Cart_Browsing', 'Cart_Completion_Frequency',
       'Cart_Abandonment_Factors', 'Saveforlater_Frequency', 'Review_Left',
       'Review_Reliability', 'Review_Helpfulness',
       'Personalized_Recommendation_Frequency_Alt',
       'Recommendation_Helpfulness', 'Rating_Accuracy',
       'Shopping_Satisfaction', 'Service_Appreciation', 'Improvement_Areas'],
      dtype='object')

In [118]:
#8.Timestamp cleaning
df['Timestamp'] = pd.to_datetime(
    df['Timestamp'],
    format='%Y/%m/%d %I:%M:%S %p GMT+5:30',
    errors='coerce'
)

In [119]:
df['Timestamp'] = df['Timestamp'].dt.tz_localize(None)

In [120]:
df['Timestamp'].dtype

dtype('<M8[ns]')

In [121]:
df[['Timestamp']].head()

            Timestamp
0 2023-06-04 13:28:19
1 2023-06-04 14:30:44
2 2023-06-04 17:04:56
3 2023-06-04 17:13:00
4 2023-06-04 17:28:06

In [122]:
df['Date'] = df['Timestamp'].dt.date
df['Day_Name'] = df['Timestamp'].dt.day_name()
df['Time'] = df['Timestamp'].dt.strftime('%I:%M:%S %p')

In [123]:
df[['Timestamp', 'Date', 'Day_Name', 'Time']].head()

            Timestamp        Date Day_Name         Time
0 2023-06-04 13:28:19  2023-06-04   Sunday  01:28:19 PM
1 2023-06-04 14:30:44  2023-06-04   Sunday  02:30:44 PM
2 2023-06-04 17:04:56  2023-06-04   Sunday  05:04:56 PM
3 2023-06-04 17:13:00  2023-06-04   Sunday  05:13:00 PM
4 2023-06-04 17:28:06  2023-06-04   Sunday  05:28:06 PM

In [124]:
first_cols = ['Date', 'Day_Name', 'Time']
remaining_cols = [col for col in df.columns if col not in first_cols]

df = df[first_cols + remaining_cols]

In [125]:
df.head()

,Date,Day_Name,Time,Timestamp,Age,Gender,Purchase_Frequency,Purchase_Categories,Personalized_Recommendation_Frequency,Browsing_Frequency,...,Saveforlater_Frequency,Review_Left,Review_Reliability,Review_Helpfulness,Personalized_Recommendation_Frequency_Alt,Recommendation_Helpfulness,Rating_Accuracy,Shopping_Satisfaction,Service_Appreciation,Improvement_Areas
0,2023-06-04,Sunday,01:28:19 PM,2023-06-04 13:28:19,23,Female,Few times a month,Beauty and Personal Care,Yes,Few times a week,...,Sometimes,Yes,Occasionally,Yes,2,Yes,1,1,Competitive prices,Reducing packaging waste
1,2023-06-04,Sunday,02:30:44 PM,2023-06-04 14:30:44,23,Female,Once a month,Clothing and Fashion,Yes,Few times a month,...,Rarely,No,Heavily,Yes,2,Sometimes,3,2,Wide product selection,Reducing packaging waste
2,2023-06-04,Sunday,05:04:56 PM,2023-06-04 17:04:56,24,Prefer not to say,Few times a month,Groceries and Gourmet Food;Clothing and Fashion,No,Few times a month,...,Rarely,No,Occasionally,No,4,No,3,3,Competitive prices,Product quality and accuracy
3,2023-06-04,Sunday,05:13:00 PM,2023-06-04 17:13:00,24,Female,Once a month,Beauty and Personal Care;Clothing and Fashion;...,Sometimes,Few times a month,...,Sometimes,Yes,Heavily,Yes,3,Sometimes,3,4,Competitive prices,Product quality and accuracy
4,2023-06-04,Sunday,05:28:06 PM,2023-06-04 17:28:06,22,Female,Less than once a month,Beauty and Personal Care;Clothing and Fashion,Yes,Few times a month,...,Rarely,No,Heavily,Yes,4,Yes,2,2,Competitive prices,Product quality and accuracy

In [126]:
df.columns

Index(['Date', 'Day_Name', 'Time', 'Timestamp', 'Age', 'Gender',
       'Purchase_Frequency', 'Purchase_Categories',
       'Personalized_Recommendation_Frequency', 'Browsing_Frequency',
       'Product_Search_Method', 'Search_Result_Exploration',
       'Customer_Reviews_Importance', 'Add_To_Cart_Browsing',
       'Cart_Completion_Frequency', 'Cart_Abandonment_Factors',
       'Saveforlater_Frequency', 'Review_Left', 'Review_Reliability',
       'Review_Helpfulness', 'Personalized_Recommendation_Frequency_Alt',
       'Recommendation_Helpfulness', 'Rating_Accuracy',
       'Shopping_Satisfaction', 'Service_Appreciation', 'Improvement_Areas'],
      dtype='object')

In [127]:
#9.Standardize all Text data
exclude_cols = ['Date', 'Time','Age','Personalized_Recommendation_Frequency_Alt','Rating_Accuracy','Shopping_Satisfaction']   

cat_cols = [
    col for col in df.select_dtypes(include='object').columns
    if col not in exclude_cols
]

for col in cat_cols:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [128]:
#10.Handle remaining missing values
#categorical = mode
for col in cat_cols:
    if df[col].isnull().sum() > 0:
        df[col].fillna(df[col].mode()[0],inplace=True)

In [129]:
#Numerical= median
num_cols=df.select_dtypes(include=['int64','float64']).columns
for col in num_cols:
    if df[col].isnull().sum() > 0:
        df[col].fillna(df[col].median,inplace=True)

In [130]:
df.isnull().sum()

Date                                         0
Day_Name                                     0
Time                                         0
Timestamp                                    0
Age                                          0
Gender                                       0
Purchase_Frequency                           0
Purchase_Categories                          0
Personalized_Recommendation_Frequency        0
Browsing_Frequency                           0
Product_Search_Method                        0
Search_Result_Exploration                    0
Customer_Reviews_Importance                  0
Add_To_Cart_Browsing                         0
Cart_Completion_Frequency                    0
Cart_Abandonment_Factors                     0
Saveforlater_Frequency                       0
Review_Left                                  0
Review_Reliability                           0
Review_Helpfulness                           0
Personalized_Recommendation_Frequency_Alt    0
Recommendation_Helpfulness                   0
Rating_Accuracy                              0
Shopping_Satisfaction                        0
Service_Appreciation                         0
Improvement_Areas                            0
dtype: int64

In [131]:

# 11.Age cleaning and Age_Group creation

# convert age to numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# filter valid age range and make explicit copy
df = df[(df['Age'] >= 10) & (df['Age'] <= 80)].copy()

# create age groups
labels = ['Young_Adult', 'Adult', 'Middle_Aged', 'Senior']
df['Age_Group'] = pd.qcut(df['Age'], q=4, labels=labels)

# adjust column position
cols = list(df.columns)
age_index = cols.index('Age')
cols.insert(age_index + 1, cols.pop(cols.index('Age_Group')))
df = df[cols]

In [132]:
df[['Age', 'Age_Group']].head()
df['Age_Group'].value_counts()

Age_Group
Young_Adult    198
Middle_Aged    157
Senior         143
Adult          103
Name: count, dtype: int64

In [133]:
df[['Age','Age_Group']].head()

   Age    Age_Group
0   23  Young_Adult
1   23  Young_Adult
2   24        Adult
3   24        Adult
4   22  Young_Adult

In [134]:
#12.Standardize frequency columns

df['Purchase_Frequency'] = df['Purchase_Frequency'].replace({
    'few times a month': 'few_month',
    'less than once a month': 'rare',
    'once a week': 'weekly',
    'once a month': 'monthly',
    'multiple times a week': 'very_frequent'
})

In [135]:
df['Browsing_Frequency'] = df['Browsing_Frequency'].replace({
    'rarely': 'rare',
    'few times a month': 'low',
    'few times a week': 'medium',
    'multiple times a day': 'high'
})

In [136]:
#13.Clean Service_Appreciation and  Improvement_Areas column
df['Service_Appreciation'] = df['Service_Appreciation'].replace({
    '.': 'unknown',
    'all the above': 'multiple_services'
})

df['Improvement_Areas'] = df['Improvement_Areas'].replace({
    '.': 'none',
    'nil': 'none',
    'nothing': 'none',
    'ui': 'app_interface'
})

In [137]:
df.Service_Appreciation.head(10)

0        competitive prices
1    wide product selection
2        competitive prices
3        competitive prices
4        competitive prices
5    wide product selection
6    wide product selection
7        competitive prices
8    wide product selection
9    wide product selection
Name: Service_Appreciation, dtype: object

In [138]:
df.Improvement_Areas.head(10)

0          reducing packaging waste
1          reducing packaging waste
2      product quality and accuracy
3      product quality and accuracy
4      product quality and accuracy
5      product quality and accuracy
6    shipping speed and reliability
7    shipping speed and reliability
8          reducing packaging waste
9      product quality and accuracy
Name: Improvement_Areas, dtype: object

In [139]:
df.columns

Index(['Date', 'Day_Name', 'Time', 'Timestamp', 'Age', 'Age_Group', 'Gender',
       'Purchase_Frequency', 'Purchase_Categories',
       'Personalized_Recommendation_Frequency', 'Browsing_Frequency',
       'Product_Search_Method', 'Search_Result_Exploration',
       'Customer_Reviews_Importance', 'Add_To_Cart_Browsing',
       'Cart_Completion_Frequency', 'Cart_Abandonment_Factors',
       'Saveforlater_Frequency', 'Review_Left', 'Review_Reliability',
       'Review_Helpfulness', 'Personalized_Recommendation_Frequency_Alt',
       'Recommendation_Helpfulness', 'Rating_Accuracy',
       'Shopping_Satisfaction', 'Service_Appreciation', 'Improvement_Areas'],
      dtype='object')

In [140]:
#14.Frequent_Buyer feature
df['Frequent_Buyer'] = (
    df['Purchase_Frequency']
    .str.strip()
    .str.lower()
    .isin(['weekly', 'very frequent'])
    .astype(int)
)

In [141]:
#Review_Engagement feature
df['Review_Engagement'] = df['Review_Left'].map({
    'yes': 'engaged',
    'no': 'not_engaged'
})

In [142]:
#Shopping_Satisfaction level feature
df['Shopping_Satisfaction_Level'] = pd.cut(
    df['Shopping_Satisfaction'],
    bins=[0, 2, 3, 4, 5],
    labels=['low', 'medium', 'high', 'very_high']
)

In [143]:
cols = list(df.columns)

def move_after(col_to_move, target_col):
    cols.insert(
        cols.index(target_col) + 1,
        cols.pop(cols.index(col_to_move))
    )

move_after('Frequent_Buyer', 'Purchase_Frequency')
move_after('Review_Engagement', 'Review_Left')
move_after('Shopping_Satisfaction_Level', 'Shopping_Satisfaction')

df = df[cols]

In [153]:
df.head()

,Date,Day_Name,Time,Timestamp,Age,Age_Group,Gender,Purchase_Frequency,Frequent_Buyer,Purchase_Categories,...,Review_Engagement,Review_Reliability,Review_Helpfulness,Personalized_Recommendation_Frequency_Alt,Recommendation_Helpfulness,Rating_Accuracy,Shopping_Satisfaction,Shopping_Satisfaction_Level,Service_Appreciation,Improvement_Areas
0,2023-06-04,sunday,01:28:19 PM,2023-06-04 13:28:19,23,Young_Adult,female,few_month,0,Beauty and Personal Care,...,engaged,occasionally,yes,2,yes,1,1,low,competitive prices,reducing packaging waste
1,2023-06-04,sunday,02:30:44 PM,2023-06-04 14:30:44,23,Young_Adult,female,monthly,0,Clothing and Fashion,...,not_engaged,heavily,yes,2,sometimes,3,2,low,wide product selection,reducing packaging waste
2,2023-06-04,sunday,05:04:56 PM,2023-06-04 17:04:56,24,Adult,prefer not to say,few_month,0,Groceries and Gourmet Food;Clothing and Fashion,...,not_engaged,occasionally,no,4,no,3,3,medium,competitive prices,product quality and accuracy
3,2023-06-04,sunday,05:13:00 PM,2023-06-04 17:13:00,24,Adult,female,monthly,0,Beauty and Personal Care;Clothing and Fashion;...,...,engaged,heavily,yes,3,sometimes,3,4,high,competitive prices,product quality and accuracy
4,2023-06-04,sunday,05:28:06 PM,2023-06-04 17:28:06,22,Young_Adult,female,rare,0,Beauty and Personal Care;Clothing and Fashion,...,not_engaged,heavily,yes,4,yes,2,2,low,competitive prices,product quality and accuracy

In [145]:
df[['Review_Engagement','Review_Left','Frequent_Buyer','Purchase_Frequency','Shopping_Satisfaction_Level','Shopping_Satisfaction']].head()

,Review_Engagement,Review_Left,Frequent_Buyer,Purchase_Frequency,Shopping_Satisfaction_Level,Shopping_Satisfaction
0,engaged,yes,0,few_month,low,1
1,not_engaged,no,0,monthly,low,2
2,not_engaged,no,0,few_month,medium,3
3,engaged,yes,0,monthly,high,4
4,not_engaged,no,0,rare,low,2

In [147]:
# 15.Normalize Purchase_categories
df_category['Purchase_Categories'].apply(type).value_counts()

Purchase_Categories
<class 'str'>    1157
Name: count, dtype: int64

In [148]:
df['Purchase_Categories'].head(10)

0                             beauty and personal care
1                                 clothing and fashion
2      groceries and gourmet food;clothing and fashion
3    beauty and personal care;clothing and fashion;...
4        beauty and personal care;clothing and fashion
5                                 clothing and fashion
6                                 clothing and fashion
7        beauty and personal care;clothing and fashion
8        beauty and personal care;clothing and fashion
9        beauty and personal care;clothing and fashion
Name: Purchase_Categories, dtype: object

In [150]:
df_raw = pd.read_csv('Amazon Customer Behavior Survey.csv')

In [151]:
df['Purchase_Categories'] = df_raw['Purchase_Categories']

In [152]:
df['Purchase_Categories'].head()
df['Purchase_Categories'].apply(type).value_counts()

Purchase_Categories
<class 'str'>    601
Name: count, dtype: int64

In [87]:
df['Purchase_Categories'] = df['Purchase_Categories'].str.split(';')

In [88]:
df_category = df.explode('Purchase_Categories')

In [89]:
df_category['Purchase_Categories'] = (
    df_category['Purchase_Categories']
    .str.strip()
)

In [90]:
df_category['Purchase_Categories'].value_counts()

Purchase_Categories
Clothing and Fashion          343
Beauty and Personal Care      318
Home and Kitchen              219
others                        166
Groceries and Gourmet Food    111
Name: count, dtype: int64

In [91]:
df_category[['Purchase_Categories']].head(10)

          Purchase_Categories
0    Beauty and Personal Care
1        Clothing and Fashion
2  Groceries and Gourmet Food
2        Clothing and Fashion
3    Beauty and Personal Care
3        Clothing and Fashion
3                      others
4    Beauty and Personal Care
4        Clothing and Fashion
5        Clothing and Fashion

In [159]:
df.head()

,Customer_ID,Date,Day_Name,Time,Age,Age_Group,Gender,Purchase_Categories,Timestamp,Purchase_Frequency,...,Review_Engagement,Review_Reliability,Review_Helpfulness,Personalized_Recommendation_Frequency_Alt,Recommendation_Helpfulness,Rating_Accuracy,Shopping_Satisfaction,Shopping_Satisfaction_Level,Service_Appreciation,Improvement_Areas
0,1,2023-06-04,sunday,01:28:19 PM,23,Young_Adult,female,Beauty and Personal Care,2023-06-04 13:28:19,few_month,...,engaged,occasionally,yes,2,yes,1,1,low,competitive prices,reducing packaging waste
1,2,2023-06-04,sunday,02:30:44 PM,23,Young_Adult,female,Clothing and Fashion,2023-06-04 14:30:44,monthly,...,not_engaged,heavily,yes,2,sometimes,3,2,low,wide product selection,reducing packaging waste
2,3,2023-06-04,sunday,05:04:56 PM,24,Adult,prefer not to say,Groceries and Gourmet Food,2023-06-04 17:04:56,few_month,...,not_engaged,occasionally,no,4,no,3,3,medium,competitive prices,product quality and accuracy
2,3,2023-06-04,sunday,05:04:56 PM,24,Adult,prefer not to say,Clothing and Fashion,2023-06-04 17:04:56,few_month,...,not_engaged,occasionally,no,4,no,3,3,medium,competitive prices,product quality and accuracy
3,4,2023-06-04,sunday,05:13:00 PM,24,Adult,female,Beauty and Personal Care,2023-06-04 17:13:00,monthly,...,engaged,heavily,yes,3,sometimes,3,4,high,competitive prices,product quality and accuracy

In [154]:
if 'Customer_ID' not in df.columns:
    df = df.reset_index(drop=True)
    df['Customer_ID'] = df.index + 1

In [155]:
# Split categories
df['Purchase_Categories'] = df['Purchase_Categories'].str.split(';')

# Explode but KEEP SAME DATAFRAME
df = df.explode('Purchase_Categories')

# Clean category values
df['Purchase_Categories'] = (
    df['Purchase_Categories']
    .astype(str)
    .str.strip()
)

# Remove junk values
df = df[
    df['Purchase_Categories'].notna() &
    (df['Purchase_Categories'] != '') &
    (df['Purchase_Categories'] != 'nan')
]

In [156]:
priority_cols = [
    'Customer_ID',
    'Date',
    'Day_Name',
    'Time',
    'Age',
    'Age_Group',
    'Gender',
    'Purchase_Categories'
]

remaining_cols = [c for c in df.columns if c not in priority_cols]

df = df[priority_cols + remaining_cols]

In [157]:
df.head()
df.shape
df['Purchase_Categories'].value_counts()

Purchase_Categories
Clothing and Fashion          343
Beauty and Personal Care      318
Home and Kitchen              219
others                        166
Groceries and Gourmet Food    111
Name: count, dtype: int64

In [161]:
df.shape
df.head()
df.columns

Index(['Customer_ID', 'Date', 'Day_Name', 'Time', 'Age', 'Age_Group', 'Gender',
       'Purchase_Categories', 'Timestamp', 'Purchase_Frequency',
       'Frequent_Buyer', 'Personalized_Recommendation_Frequency',
       'Browsing_Frequency', 'Product_Search_Method',
       'Search_Result_Exploration', 'Customer_Reviews_Importance',
       'Add_To_Cart_Browsing', 'Cart_Completion_Frequency',
       'Cart_Abandonment_Factors', 'Saveforlater_Frequency', 'Review_Left',
       'Review_Engagement', 'Review_Reliability', 'Review_Helpfulness',
       'Personalized_Recommendation_Frequency_Alt',
       'Recommendation_Helpfulness', 'Rating_Accuracy',
       'Shopping_Satisfaction', 'Shopping_Satisfaction_Level',
       'Service_Appreciation', 'Improvement_Areas'],
      dtype='object')

In [162]:
df = df.drop(columns=['Timestamp'])

In [163]:
df.columns

Index(['Customer_ID', 'Date', 'Day_Name', 'Time', 'Age', 'Age_Group', 'Gender',
       'Purchase_Categories', 'Purchase_Frequency', 'Frequent_Buyer',
       'Personalized_Recommendation_Frequency', 'Browsing_Frequency',
       'Product_Search_Method', 'Search_Result_Exploration',
       'Customer_Reviews_Importance', 'Add_To_Cart_Browsing',
       'Cart_Completion_Frequency', 'Cart_Abandonment_Factors',
       'Saveforlater_Frequency', 'Review_Left', 'Review_Engagement',
       'Review_Reliability', 'Review_Helpfulness',
       'Personalized_Recommendation_Frequency_Alt',
       'Recommendation_Helpfulness', 'Rating_Accuracy',
       'Shopping_Satisfaction', 'Shopping_Satisfaction_Level',
       'Service_Appreciation', 'Improvement_Areas'],
      dtype='object')

In [164]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:Mani123@localhost:3306/Consumer_sales_Analysis"
)

df.to_sql(
    name='customer_sales_behavior',
    con=engine,
    if_exists='replace',
    index=False
)

1157